body {
    background-color: #000000;
}

.newTopic {
    display: block;
    margin: auto;
}

.card {
    max-width: 500px;
    background-color: black !important;
    border: 1px solid white;
    color: white !important;
}

.center {
    text-align: center;
}

input {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    height: 20px;
}
